.new-appartment-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
  background-color: rgb(203, 156, 85);

  > h2 {
    align-self: end;
    text-align: center;
    font-family: monospace;
    margin-bottom: 5%;
  }

  > .form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    margin-left: 15px;
    margin-right: 15px;

    .form-label {
      font-size: 1.3rem;
      font-style: italic;
    }
  }

}

