.nav-bar{
  position: absolute;
  z-index: 1;
  
}

.nav-bar .nav-link {
  font-size: 1.2rem;
  height: 100%;
  width: max-content;
  text-decoration: none;
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}